## Copyright 2016 ICE Health Systems
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
## http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
## Macro title: Page Awareness Macro
## Developed by: Matt MacLean (ICE Health Systems)
## Date created: 26/05/2016
##

## @param StatusMode:title=Status Mode|type=enum|enumValues=No,Yes|desc=Status mode disables interaction and displays the status of the page. Useful for use in page property report macros.|required=false|multiple=false|default=No

## Get the contentProperties
#set ( $contentProperties = $content.getProperties() )

## Get the page information we need to create our unique property for this user/page/version
#set ( $contentId = $content.getContentId().asLong() )
#set ( $contentVersion = "v" + $content.getVersion() )
#set ( $user = $action.remoteUser )
#set ( $userName = $user.getName() )
#set ( $awarenessKey = "pageAwareness-" + $contentId + "-" + $userName )

## Handle the acknowledgement of changes
#if ( $req.getParameter($awarenessKey) == "Acknowledge Latest Content" )
  $contentProperties.setStringProperty( $awarenessKey, $contentVersion )
#end

## Read the property value
#set ( $awareOfVersion = $contentProperties.getStringProperty( $awarenessKey ))

## be sure to set a default if undefined or the variable name will be displayed
#if ( !$awareOfVersion )
  #set ( $awareOfVersion = "v0" )
#end

## Check if the user if aware of the latest content version
#if ( $contentVersion == $awareOfVersion )
  #set ( $pageAware = "true" )
#else
  #set ( $pageAware = "false" )
#end

## Display page awareness to user
#if ( $paramStatusMode == "Yes" )
  #if ( $pageAware == "true" )
    <div style="width: 100%; text-align: center; background: #E8FFEA; padding: 3px; margin-bottom: 10px">UP-TO-DATE</div>
  #else
    <div style="width: 100%; text-align: center; background: #FF9D9D; padding: 3px; margin-bottom: 10px; font-weight: bold">NEW CHANGES</div>
  #end
#else
  #if ( $pageAware == "true" )
    <div style="width: 100%; text-align: center; background: #E8FFEA; padding: 3px; margin-bottom: 10px">You are up-to-date with the content of this page!</div>
  #else
    <div style="width: 100%; text-align: center; background: #FF9D9D; padding: 3px; margin-bottom: 10px; font-weight: bold">
      <form name="PageAwarenessForm" method="POST">
        New changes to this page! You are currently aware of $awareOfVersion, however the page is now $contentVersion. Please acknowledge changes!
        <br /><input type="submit" name="$awarenessKey" value="Acknowledge Latest Content" />
      </form>
    </div>
  #end
#end
